@import url("https://use.typekit.net/hfi1kak.css");

:root {
    --bgc-01: white (0, 0%, 02%);  
    --txt-01: white;
    --txt-02: black;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: var(--bgc-01);
    color: var(--txt-01);
    font-family: "Segoe UI", Black;
    line-height: 1;
}

header {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    background-color: var(--bgc-02);
    padding: 1rem ;
    color: var(--txt-02)
}

header nav li{
    display: inline-block;
}

header img{
    width: 5rem;
}

header .logo {
    justify-self: center;
}

h2 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-weight: 600;
}

a {
    text-decoration: none  ;
    margin: 10px;
}

header, main {
    padding: 1rem;
}

header h1 {
    display: inline-block;
    margin-left: 0.2ch;
    font-weight: 600;
}

header nav {
    justify-self: end;
    align-self: center;
}

header nav li:hover {
color: lightsalmon;

}

/* main vormgeving */

main {
    background-image: url(bagr.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    font-family: "Segoe UI", Black;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-left: 110px;
    margin-right: 50px;
}

.grid-item img {
    width: 80%; 
    height: 80%; 
    border-style: ridge;
    border-color: #FFFFFF;
}

.grid-item {
    position: relative;
}

.grid-item h3 {
    position: absolute;
    bottom: 90px;
    left: 10px;
    letter-spacing: 0.5ch;
}

.grid-item p {
    position: absolute;
    bottom: 65px;
    left: 10px;
    letter-spacing: 0.5ch;
}

footer {
    background: white;

    height: auto;
    width: 100%;

    font-family: 'Trispace', sans-serif;
    font-weight: 50;

    padding-top: 10px;
    color: black;
}

.footer-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-top h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-top p {
    max-width: 1100px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.footer-bottom {
    background: black;
    width: 100%;
    height: 50px;
    text-align: center;
    color: white;
}

.footer-bottom p {
    padding: 17px 0;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}