@import url('https://fonts.googleapis.com/css2?family=Trispace&display=swap');
    
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

header {
    background-color: #000000;
}

body {
    font-family: 'Trispace', sans-serif;
    background-color: white;
}

html {
    scroll-behavior: smooth;
}

li, a, button {
    font-family: 'Trispace', sans-serif;    
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}

li, a, button:hover {
    color: #000000;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 5%;
}

.logo {
    margin-right: auto;
    width: 200px;
    height: 100px;

    object-fit: contain;
}

.nav_links {
    list-style: none;
} 

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #F6781D;
}

button {
    padding: 9px 25px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #F6781D;
}

header input {
    width: 10rem;
    height: 2rem;
    border-radius: 50px;
    padding: 0.5rem;
    margin-left: 3%;
}

video {
    width: 100%;
    height: 50%;
}

#FirstCard {
    display: flex;
    padding-top: 10vh;
    margin-left: 1%;
}

.cards {
    display: flex;
    margin-left: .5%;
}

.card {
    color: black;
    margin: 2rem;
    box-shadow: 0px 0px 10px 1px black;
    border-radius: .5rem;
}

.product-information {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.card img {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    height: 350px;
    width: 350px;
}

footer {
    background: #111;

    height: auto;
    width: 100%;

    font-family: 'Trispace', sans-serif;
    font-weight: 50;

    padding-top: 10px;
    color: #FFF;
}

.footer-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-top h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-top p {
    max-width: 1100px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.footer-bottom {
    background: #000;
    width: 100%;
    height: 50px;
    text-align: center;
}

.footer-bottom p {
    padding: 17px 0;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

footer {
    padding: 20px;
    background-color: black;
    font-size: 15px;
    color: #F6781D;
}

footer li {
    list-style: none;
    color: white;
}

footer li:first-child {
    color: #F6781D;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.socialmedia :hover {
    align-content: center;
    margin-top: 5%;
}

footer input[type="email"],
footer input[type="submit"] {
    display: block;
    margin-bottom: 10px;
}

footer input[type="email"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    background-color: white;
}

footer input[type="submit"] {
    background-color: #F6781D;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}